<%= erb :'layouts/_header' %>

<h1>New Student</h1>

<form action="/students" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" >
  <label for="twitter">Twitter</label>
  <input type="text" name="twitter" >
  <label for="linkedin">LinkedIn</label>
  <input type="text" name="linkedin" >
  <label for="github">GitHub</label>
  <input type="text" name="github" >
  <input type="submit" value="create">
</form>

<a class="button" href="/">Show All</a>
<%= erb :'layouts/_footer' %>