<%= erb :'layouts/_header' %>

<h1>Upload Profile Photo</h1>
<form action="/upload/<%= @s.slug %>" method="post" enctype='multipart/form-data'>   
   <input class="button" type='file' name='myfile'>  
      <br>
   <input class="button" type='submit' value='Upload'><a class="button" href="/">Cancel</a>
</form>

<%= erb :'layouts/_footer' %>
