  <!-- Begin Footer -->
  <div class="footer">
    <div class="footer-text">
      <div class="footer-text-left">
        <div class="menu">
          <ul>
            <li>
              <a href="index.html">
                <i class="icon-home icon-2x"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/flatironschool">
                <i class="icon-twitter icon-2x"></i>
              </a>
            </li>
            <li>
              <a href="http://www.facebook.com/FlatironSchool">
                <i class="icon-facebook-sign icon-2x"></i>
              </a>
            </li>
            <li>
              <a href="http://instagram.com/flatironschool">
                <i class="icon-camera-retro icon-2x"></i>
              </a>
            </li>
            <li>
              <a href="http://www.linkedin.com/company/the-flatiron-school">
                <i class="icon-linkedin-sign icon-2x"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/organizations/flatiron-school">
                <i class="icon-github-alt icon-2x"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Begin Footer -->
  <div class="footer">
    <div class="footer-text">
      <div class="footer-text-right">
        <div class="copyright">&copy; 2013. The Flatiron School.  All Your Rights Belong To Us.</div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- End Footer -->
</div>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33578770-1']);
    _gaq.push(['_setDomainName', 'flatironschool.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</body>
</html>